@use 'sass:color';
@use 'component' as c;
:root {
  --light-color: #ffffffe2;
  --dark-color: #111;
  --primary-color: #045acc;
  --font-satck: 'Dosis', sans-serif;
  --dark-ligten: #666666f6;
  --light-darken: #dddddd20;
  --bg-color: #dddddd3b;
  --modal-color: #fff;
  --text-color: #111;
  --secondary-color: #dddddd6c;
}

[data-theme='dark'] {
  --light-color: #333;
  --bg-color: #111;
  --modal-color: #222;
  --text-color: #ffffffb3;
  --dark-color: #fff;
  --secondary-color: #6666661a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  font-family: var(--font-satck);
  line-height: 1.3;
  margin: 0 auto;
  padding: 60px;
  background: var(--bg-color);
}

#main-header {
  height: 85vh;
  overflow: scroll;
  margin-right: 5rem;
  padding: 1rem 2rem;
  position: relative;
  gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  .header-task {
    padding-top: 15px;
    .logo {
      h2 {
        color: var(--dark-color);
      }
      i {
        cursor: pointer;
      }
      @extend %flex;
      gap: 1rem;
      color: var(--dark-color);
      font-family: 'Dosis', sans-serif;
    }
    @extend %flex !optional;
    justify-content: space-between;
  }
  .opt {
    @extend %flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 3rem;
    color: var(--dark-color);
    .opt-content {
      @extend %flex;
      gap: 2rem;
    }
    .item {
      cursor: pointer;
    }
    border-bottom: 0.5px solid var(--dark-ligten);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.222);
    border-radius: 5px;
  }
  .options {
    @extend %flex;
    cursor: pointer;
    gap: 1rem;
    color: var(--dark-ligten);
  }
  .header-info {
    @extend %flex;
    gap: 1rem;
    .search-input {
      outline: none;
      border: none;
      padding: 0.7rem;
      border-radius: 10px;
      width: 200px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    }
    .btn-task {
      @extend %btn;
      color: #fff;
      background: var(--primary-color);
      padding: 0.7rem !important;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.sidebar-section {
  position: fixed;
  padding-top: 1rem;
  width: 300px;
  top: 7%;
  background: var(--light-color);
  color: var(--text-color);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px) !important;
  height: 85vh;
  transform: translateX(-1000px);
  transition: transform 0.6s ease-in-out;
  &.show {
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
  }

  .side-bar {
    .fa-strikethrough {
      position: absolute;
      top: 4%;
      cursor: pointer;
      right: 8%;
      padding: 0.5rem 1rem;
      @extend %flex;
      border-radius: 50px;
      &:hover {
        background-color: #b5ccf8;
        transition: background-color 0.5s ease-in-out;
      }
    }
    padding: 2rem;
    %content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }
    .sidebar-project {
      position: absolute;
      top: 9%;
      @extend %content;
      .project-msg {
        font-size: 1.3rem;
        font-weight: 500;
      }
      gap: 1rem;
      .project-btn {
        margin-top: 1.5rem;
        background: var(--primary-color);
        padding: 0.5rem 2rem;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        margin-bottom: 1rem;
        &:hover {
          opacity: 0.9;
        }
      }
      .add-project {
        padding: 0.5rem 1rem;
        font-size: 16px;
        opacity: 0;
        z-index: 99;
        visibility: hidden;
        transition: all 0.5s ease-in-out;
        outline: none;

        &.show {
          opacity: 1;
          z-index: 999;
          visibility: visible;
        }
      }
      .project--list {
        position: absolute;
        top: 88%;
        list-style: none;
        overflow: scroll;
        z-index: -1;
        height: 100px;
        width: 100%;
        cursor: pointer;
        &::-webkit-scrollbar {
          display: none;
        }
        li {
          cursor: pointer;
          padding: 0.2rem 1rem;
          margin-bottom: 0.5rem;

          &:hover {
            background: var(--light-darken);
            border-radius: 0.5rem;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }

    .sidebar-stat {
      position: absolute;
      bottom: 0;
      @extend %content;
      gap: 1rem;
    }
    .stat-content {
      position: relative;
      gap: 1rem;
      @extend %content;
      .total {
        display: flex;
        gap: 10rem;
        justify-content: space-between;
        cursor: pointer;
      }
      .completed {
        @extend .total;
      }
      .pending {
        @extend .total;
      }
    }
  }
}
// #main-section {
// }

.current {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #b5ccf8;
  color: var(--primary-color);
  border-radius: 7px;
}
.all--tasks {
  overflow: hidden;
  margin-top: 2rem;
  .task-msg {
    padding-top: 5rem;
    @extend %flex;
    gap: 1rem;
    flex-direction: column;
    color: var(--dark-color);
    .clipboard {
      font-size: 2rem;
      color: #6666669b;
    }
  }
  li {
    list-style: none;
    border-radius: 7px;
    @extend %flex;
    margin: 1rem;
    justify-content: space-between;
    background: var(--secondary-color);
    color: var(--dark-ligten);
    padding: 2rem;
  }
  .check-list {
    @extend %flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 0.3rem;
  }
  .details {
    @extend %flex;
    justify-content: flex-start;
    gap: 1.3rem;
    margin-top: 1rem;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--dark-color);
  }
  .fav {
    @extend %flex;
    gap: 1rem;
    .fa-star {
      color: #f3c52f;
    }
  }
  .priority {
    font-family: 'Nunito', sans-serif;
    border-radius: 5px;
    margin-left: 1rem;
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }
  .medium {
    background-color: #c9cf203f;
    color: #e08422;
  }
  .high {
    background-color: #fc8085d3;
    color: #e50b0b;
  }
  .low {
    background-color: #a7f5a7;
    color: #28ac28;
  }
  .medium-list {
    border-left: 5px solid #f2ee13cf;
  }
  .high-list {
    border-left: 4px solid #f71c1c;
  }
  .low-list {
    border-left: 4px solid #28ac28;
  }
}

.modal {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: var(--dark-color);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.6s ease-in-out;
  &.show {
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease-in-out;
  }
  .addTask--modal {
    background: var(--modal-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.222);
    padding: 1.5rem 2rem;
    width: 450px;
    height: 100%;
    input {
      margin-top: 0.5rem;
      outline: none;
      border: 1px solid #444;
      background: var(--light-color);
      color: var(--text-color);
    }
    textarea {
      outline: none;
      margin-top: 0.5rem;
      border: 1px solid #444;
      background: var(--light-color);
      color: var(--modal-text-color);
    }
    select {
      border: 1px solid #444;
      margin-top: 0.5rem;

      background: var(--light-color);
      color: var(--text-color);
    }
  }
  .modal--header {
    @extend %flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    i {
      cursor: pointer;
      padding: 0.5rem 1rem;
      border-radius: 50px;
      @extend %flex;

      &:hover {
        background: var(--primary-color);
        transition: all 0.5s ease-in-out;
      }
    }
  }
  .title {
    input[type='text'] {
      width: 100%;
      padding: 0.5rem;
    }
    @extend %flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .descrip {
    margin-top: 1rem;
    textarea {
      width: 100%;
      padding: 0.5rem;
      height: 90px;
      overflow: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    @extend .title;
  }
  .date {
    @extend .title;
    input {
      width: 180px;
      height: 36px;
      padding: 0.5rem;
    }
  }
  .priority {
    @extend .title;
    align-items: flex-end;
    select {
      height: 36px;
      width: 190px;
      padding: 0.5rem;
    }
  }
  .project {
    @extend .title;
    select {
      padding: 0.5rem;
      height: 36px;
      width: 180px;
    }
  }
  .label {
    input[type='text'] {
      width: 190px;
      height: 36px;
      padding: 0.2rem;
      &::placeholder {
        color: var(--text-color);
        font-family: 'Raleway', sans-serif;
        font-weight: 100;
      }
    }
    @extend .title;
    align-items: flex-end;
  }
  .modal-setting {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .save-task--btn {
    margin-top: 1rem;
    width: 100%;
    @extend %btn;
    background-color: #3a37efed;
    color: #fff;
  }
}
