@use "sass:color";
@use "variable" as v;
@use "component" as c;
:root {
  --light-color: #ffffffe2;
  --dark-color: #111;
  --primary-color: #1877f2;
  --font-satck: "Dosis", sans-serif;
  --dark-ligten: #666666f6;
  --light-darken: #dddddd3b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  padding-top: 90px;
  font-family: var(--font-satck);
  line-height: 1.3;
  margin: 0 auto;
  background: var(--light-darken);
}
#main-header {
  height: 85vh;
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 20fr;
  .header-task {
    .logo {
      color: var(--dark-color);
      font-family: "Dosis", sans-serif;
    }
    @extend %flex !optional;
    justify-content: space-between;
  }
  .options {
    @extend %flex;
    justify-content: flex-start;
    padding-top: 2rem;
    gap: 1rem;
    color: var(--dark-ligten);
    select {
      outline: none;
      padding: 0.2rem;
    }
    option {
      outline: none;
      background: var(--dark-ligten);
      color: var(--light-color);
    }
    margin-bottom: 1rem;
  }
  .header-info {
    display: flex;
    gap: 1rem;
    .search-input {
      outline: none;
      border: none;
      padding: 0.4rem;
      width: 260px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    }
    .btn-task {
      @extend %btn;
      color: var(--light-color);
      background: var(--primary-color);
    }
    select {
      padding: 0.4rem;
      outline: none;
      border-radius: 5px;
      border: none;
      color: var(--light-color);
      background: var(--primary-color);
    }
    option {
      outline: none;
      background: var(--dark-ligten);
    }
  }
  .nav {
    border-bottom: 0.1px solid #6666663e;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
}
.sidebar-section {
  width: 300px;
  background: var(--light-color);
  height: 85vh;
  .side-bar {
    padding: 2rem;
    .sidebar-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }
    .sidebar-project {
      @extend .sidebar-content;
      .project-msg {
        font-size: 1.3rem;
        font-weight: 500;
      }
      gap: 1rem;
      .project-btn {
        margin-top: 1.5rem;
        background: var(--primary-color);
        padding: 0.5rem 1rem;
        text-align: center;
        border-radius: 5px;
      }
    }
    .sidebar-stat {
      @extend .sidebar-content;
      gap: 1rem;
      margin-top: 10rem;
    }
    .stat-content {
      gap: 1rem;
      @extend .sidebar-content;
      .total {
        display: flex;
        justify-content: space-between;
      }
      .completed {
        @extend .total;
      }
      .pending {
        @extend .total;
      }
    }
  }
}
#main-section {
  .task-msg {
    padding-top: 5rem;
    @extend %flex;
    gap: 1rem;
    flex-direction: column;
    .clipboard {
      font-size: 2rem;
      color: #6666669b;
    }
  }
}
