%flex {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
%btn {
  display: inline-block;
  padding: 0.4rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  &:hover {
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
  }
}
.active {
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}
i {
  cursor: pointer;
}
