@media screen and (max-width: 768px) {
  #main-header {
    .opt-content {
      gap: 0.5rem !important;
    }
  }
}

@media (min-width: 410px) and (max-width: 600px) {
  body {
    padding: 0 !important;
    max-width: 100%;
  }
  #main-header {
    margin-right: 0 !important;
    .logo {
      position: relative;
      margin-bottom: 1rem;
      i {
        position: absolute;
      }
    }
  }
  input {
    font-size: 16px;
    margin-left: 1rem;
  }
  .header-task {
    margin-top: 1rem;
    flex-direction: column;
  }
  .header-info {
    gap: 1.6rem !important;
    margin-top: 1rem;
  }
  .opt {
    margin-top: 1rem !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .options {
    margin-top: 0.5rem;
    justify-content: flex-start !important;
  }
  #main-section {
    .all--tasks {
      li {
        padding: 1rem;
        margin: 0.5rem;
        flex-direction: column;
        align-items: flex-start;
      }
      .check-list {
        display: flex;
        justify-content: flex-start !important;
        flex-direction: column !important;
        align-items: flex-start !important;
      }
      .fav {
        margin-top: 1rem;
      }
    }
  }
  .sidebar-section {
    right: 0;
    top: 2%;
    .fa-strikethrough {
      left: 8%;
      top: 2% !important;
    }
  }

  .modal {
    top: 50%;
    left: 50%;
    .addTask--modal {
      width: 360px;
    }
  }
  .modal-setting {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
    input {
      width: 300px !important;
    }
  }
  .title-input {
    height: 3rem;
  }
  select {
    width: 300px !important;
    option {
      width: 100% !important;
    }
  }
  .priority {
    align-items: flex-start !important;
  }
  .label {
    align-items: flex-start !important;
  }
}

@media (min-width: 300px) and (max-width: 480px) {
  body {
    padding: 0 !important;
    max-width: 100%;
  }
  #main-header {
    margin-right: 0 !important;
    .logo {
      position: relative;
      margin-bottom: 1rem;
      i {
        position: absolute;
        right: 0;
      }
    }
  }
  input {
    font-size: 16px;
    width: 201px !important;
    margin-left: 1rem;
  }
  .header-task {
    margin-top: 1rem;
    flex-direction: column;
    align-items: normal !important;
  }
  .header-info {
    gap: 1.6rem !important;
    margin-top: 1rem;
  }
  .opt {
    margin-top: 1rem !important;
    align-items: flex-start !important;
    justify-content: center !important;
    flex-direction: column;
  }

  .options {
    margin-top: 0.5rem;
  }
  #main-section {
    .all--tasks {
      li {
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
      }

      .check-list {
        flex-direction: column !important;
        align-items: flex-start !important;
        margin-left: 0.5rem;
        input[type='checkbox'] {
          display: inline-block !important;
          transform: scale(1.3);
          accent-color: #007bff;
          opacity: 1;
          width: 100%;
          margin-left: -6rem;
        }
      }
      .fav {
        margin-top: 1rem;
      }
    }
  }
  .sidebar-section {
    right: 0;
    top: 2%;
    .fa-strikethrough {
      left: 8%;
      top: 2% !important;
    }
  }

  .modal {
    top: 50%;
    left: 50%;
    .title {
      input {
        width: 100% !important;
        margin-left: 0 !important;
      }
    }
    .addTask--modal {
      width: 360px;
    }
  }
  .modal-setting {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
    input {
      width: 300px !important;
      margin-left: 0 !important;
    }
  }
  .title-input {
    height: 3rem;
  }
  select {
    width: 300px !important;
    option {
      width: 100% !important;
    }
  }
  .priority {
    align-items: flex-start !important;
  }
  .label {
    input {
      height: 3rem !important;
    }
    align-items: flex-start !important;
  }
}
